<h1>Movies</h1>

<%= link_to "Add new movie", new_movie_path %>
<%= link_to "Import movies", movies_import_path %>
<%= link_to "Import movies scoring", user_movies_import_path %>
<hr>
<style>
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }

  .movie-list li {
    width: calc(30% - 20px);
    margin-bottom: 20px;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-color: #e1afd1;
  }

  .movie-list li:hover {
    transform: scale(1.1);
    z-index: 1;
  }
</style>

<ul class="movie-list">
  <% @movies.each do |movie| %>
    <li>
      <div>
        <h2><%= movie.title %></h2>
        <p>Director: <%= movie.director %></p>
        <p>Average Score: <%= sprintf("%.1f", movie.average_score.to_f) %></p>
        <%= form_for(current_user.user_movies.find_or_initialize_by(movie_id: movie.id), remote: true) do |f| %>
          <%= f.hidden_field :movie_id, value: movie.id %>
          <%= f.number_field :score, in: 1..10 %>
          <%= f.submit "Rate" %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>