<h2>Make sure you has TITLE and SCORE in every single movie of json file</h2>
<%= form_tag user_movies_import_path, multipart: true do %>
  <div class="field">
    <%= label_tag :json_file, "Select a JSON file:" %>
    <%= file_field_tag :json_file, accept: ".json" %>
  </div>
  <%= submit_tag "Upload file" %>
<% end %>

<% flash.each do |type, message| %>
  <div class="alert alert-<%= type %>"><%= message %></div>
<% end %>

<%= javascript_include_tag 'application' %>