<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  <style>

    body {
      background-color: #F3F8FF
    }
    nav {
      text-align: right;
    }
    li {
      display: inline;
      margin-right: 50px;
    }
    body, html {
      height: 100%;
      margin: 0;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .logo {
      width: auto;
      height: auto;
      max-width: 100px;
      max-height: 100px;
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 999;
    }
  </style>
  
  <div class="container">
    <img class="logo" src="<%= asset_path('logo.png') %>" alt="Logo">
  </div>

  </head>
  <body>
    <nav>
      <% if current_user %>
        <% if current_user.admin? %>
          <%= link_to "Create User", new_user_path %>
        <% end %>
        <%= form_tag logout_path, method: :delete do %>
          <%= submit_tag "Logout" %>
        <% end %>
      <% end %>
    </nav>
<body>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/movies">Movies</a>
      </li>
    </ul>
<hr>
  </body>
    <%= yield %>
  </body>
</html>